*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.wrapper{
    height: 100vh;
    width: 100vw;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    background-color: white ;
    object-fit: cover;
    gap:25px;
    border-radius:10px;
    box-shadow: 5px 5px 5px grey;
    padding-right: 30px;
    
}

#image1{
    height: 350px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    right:220px;
}
.text-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:10px;
    margin-top: 20px;
    margin-bottom: 20px;
    position:relative;
    
}

.cart{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:green;
    width: fit-content;
    padding: 10px 10px 10px 10px;
    gap: 10px;
    border-radius: 10px;
    position: relative;
    top:50px;
    color: white;
    transition:background-color 0.8s;
    cursor: pointer;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cart:hover{
    background-color: grey;
}

#text1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

#text2{
    font-weight:bold;
    font-size: 40px;
    width:250px;
}

#text3{
    width:250px;
    line-height:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#text4{
    position:absolute;
    top:220px;
    font-size: 30px;
    color:green;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
#text5{
    position:absolute;
    top:228px;
    right:130px;
    font-weight: bold;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}

/* .wrapper{
    background-color:bisque;
    height:100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .container{
    height:auto;
    width: auto;
    border-radius:20px ;  
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color:white;
       
}
 
 #image1{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height:400px;
    width:300px;
    position: relative;

}


#text1{
    position:relative;
    top:20px;
    left:20px;
    color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#text2{
    font-weight: bold;
    font-size: 40px;
    position:relative;
    top:30px;
    left:20px;
    width:300px;
}


#text3{
    position:relative;
    top:50px;
    left:20px;
    width:300px;
}

#text4{
    position: relative;
    top:80px;
    left:20px;
    color: green;
    font-size: 30px;
}

#text5{
    position:relative;
    top:58px;
    left:95px;
}

.cart{
    position:relative;
    top:100px; 
    left:20px; 
    height: 50px;
    width:150px;
    background-color: darkgreen;
    color:white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding:10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 1s;
}

#text{
    position: relative;
     left:45px;
    bottom:15px; 
} 

#image2{
    position: relative;
    top:6px;
    left:15px;
}

.cart:hover{
    background-color: grey;
} */